$text_blue: #155eef;
$btn_blue: #3075ff;
$light_blue: #daebff;
$black: #101828;
$light_black: #282828;
$gray_black: #516778;
$green: #17b26a;
$gray: #668091;
$border: #eceff2;
$diagram_red: #f04438;
$diagram_green: #17b26a;
$diagram_sio: #4e5ba6;
$diagram_fio: #9e77ed;
$diagram_blue: #0ba5ec;
