@import "../../../styles/utils.scss";

.fasterCard {
  max-width: 384px;
  border-radius: 12px;
  width: 100%;
  padding: 24px;
  background-color: white;
  border: 1px solid $border;
  .title {
    font-size: 14px;
    color: $gray_black;
    margin-bottom: 8px;
  }
  .priceBox {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .balans {
      color: $text_blue;
      font-size: 36px;
    }
    .daxod {
      color: $black;
      font-size: 36px;
    }
    .rasxod {
      color: $black;
      font-size: 36px;
    }
    .price {
      color: $black;
      font-size: 36px;
    }
    .priceIcon {
      padding: 0 8px;
      border: 1px solid $border;
      border-radius: 2px;
      svg {
      }
      span {
      }
    }
  }
}
